<div class="container">
  <button mat-icon-button color="primary" (click)="openDialog(null)">
    ADD TASK
  </button>
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>To do</h2>
      <div cdkDropList [cdkDropListData]="todo" class="todo dragList1 example-list" #todoList="cdkDropList"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let todo of todo" cdkDrag [cdkDragData]="todo">
          <p>{{ todo.name }}</p>
          <p>{{ todo.status }}</p>
          <button mat-icon-button (click)="editTask(todo)" color="primary">
            <mat-icon>editar</mat-icon>
          </button>
          <!-- (click)="remove(todo.id)" -->
          <div *ngIf="todo !== 'undefined'">
            <button mat-icon-button color="primary" (click)="remove(todo)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class=" example-container">
      <h2>Doing</h2>
      <div cdkDropList [cdkDropListData]="doing" class="doing example-list" #doingList="cdkDropList"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let todo of doing" cdkDrag [cdkDragData]="todo">
          <p>{{ todo.name }}</p>
          <p>{{ todo.status }}</p>
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <!-- (click)="remove(todo.id)" -->
          <button mat-icon-button color="primary">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Done</h2>
      <div class="done dragList1 example-list" cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList, doingList]" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let todo of done" cdkDrag [cdkDragData]="todo">
          <p>{{ todo.name }}</p>
          <p>{{ todo.status }}</p>
          <button mat-icon-button (click)="editTask(todo)" color="primary">
            <mat-icon>editar</mat-icon>
          </button>
          <!-- (click)="remove(todo.id)" -->
          <button mat-icon-button color="primary">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>